*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

header h1 {
  padding: 10px 0;
  text-align: center;
}

form {
  width: 80%;
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

fieldset {
  border: none;
  margin-bottom: 20px;
}
.c_box1 {
  margin: 10px 0 10px 0;
}
.c_box2 {
  margin-bottom: 10px;
}
.c_box3 {
  margin-bottom: 10px;
}

 .range4{
  display : flex;
  align-items: center;
 }

  .range4 input[type="range"]{
    margin: 0 10px;
    width: 40%;
  }

form legend {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

form label {
  font-size: 1.3rem;
  margin: 8px 0 5px 0;
  padding: 2px 0 2px 0;
}

form input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus,
input[type="time"]:focus {
  outline: red solid 2px;
}

form input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="time"],
input[type="range"],
input[type="file"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color:#9ec5d4;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #7da3b5;
}

fieldset .question {
  margin: 10px 0;
  font-weight: bold;
}


/* mobile */

@media only screen and (max-width: 600px){

  form {
    width: 85%;
    padding: 10px;
  }

form input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="date"],
  input[type="time"],
  input[type="range"],
  input[type="file"] {
    font-size: 1rem;
  }

}

/* tablet */
@media only screen and (min-width: 600px) {
    form {
        width: 90%;
        padding: 10px;
      }

      form input[type="text"],
      input[type="email"],
      input[type="tel"],
      input[type="date"],
      input[type="time"],
      input[type="range"],
      input[type="file"] {
        font-size: 1.3rem;
      }
}

/* PC */
 @media only screen and (min-width: 768px){
    form {
        width: 100%;
        padding: 10px;
      }

      form input[type="text"],
      input[type="email"],
      input[type="tel"],
      input[type="date"],
      input[type="time"],
      input[type="range"],
      input[type="file"] {
        font-size: 1.5rem;
      }

}

